<a href="https://colab.research.google.com/github/py200041592/CEE2/blob/main/4_colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coleções

Uma coleção é uma estrutura de dados que agrupa múltiplos valores em uma única variável, permitindo armazenar, acessar e manipular conjuntos de dados de forma organizada.

Dentre as coleções mais comuns estão as listas, tuplas, conjuntos e dicionários.

  ## Índices:

  - No caso das listas e outros tipos de vetores, os elementos são acessados por meio de índices, que começam em 0. Isso significa que o primeiro elemento está na posição 0, o segundo na posição 1, e assim por diante.

  - Também é possível utilizar índices negativos, onde -1 representa o último elemento da lista, -2 o penúltimo, e assim por diante.

## Listas

As listas são usadas quando você precisa de uma estrutura de dados ordenada (ordem inclusão) e mutável. Elas são a estrutura mais flexível, permitindo alterações em seus elementos, como adicionar, remover ou modificar valores.

As **listas** (`list`) são coleções:

* **ordenadas**: os elementos mantém a ordem de inclusão.

* **elementos podem ser alterados**: o valor dos elementos podem ter seus valores alterados.

* **permite duplicação dos elementos**: os elementos podem ter valores repetidos.

Os métodos definidos na classe `list` são:

* `append()`: Adiciona um elemento no final da lista.
* `clear()`: Remove todos os elementos da lista.
* `copy()`: Retorna uma cópia da lista.
* `count()`: Retorna o número de elementos com o valor especificado.
* `extend()`: Adiciona os elementos de um conjunto de dados ao final da lista.
* `index()`: Retorna o índice do primeiro elemento com o valor especificado.
* `insert()`: Adiciona um elemento na posição especificada.
* `pop()`: Remove e retorna o elemento na posição especificada. Se não especificado, então remove o ultimo elemento.
* `remove():` Remove o primeiro elemento com o valor especificado.
* `reverse()`: Inverte a ordem da lista.
* `sort()`: Ordena a lista.

As listas são criadas usando `[]` ou `list()`. Veja os exemplos abaixo.

In [ ]:
v1 = ["Fortran", "Python", "R", "Python"]
v2 = list(("Fortran", "Python", "R", "Python"))

print(v1)    # Exibe a lista v1.
print(v2)    # Exibe a lista v2.

print(type(v1))    # Exibe "<class 'list'> indicando que é lista.
print(type(v2))    # Exibe "<class 'list'> indicando que é lista.

['Fortran', 'Python', 'R', 'Python']
['Fortran', 'Python', 'R', 'Python']
<class 'list'>
<class 'list'>

In [ ]:
v = ["Fortran", "Python", "R", "Python"]

## acessando posições de um lista
print(v[0])    # Exibe 'Fortran'
print(v[1])    # Exibe 'Python'
print(v[2])    # Exibe 'R'
print(v[3])    # Exibe 'Python'

# print(v[4]) # gera um erro pois essa posição não existe na lista v

Fortran
Python
R
Python

In [ ]:
v = ["Fortran", "Python", "R", "Python"]

## acessando posições de um lista
print(v[-1])    # Exibe 'Python'
print(v[-2])    # Exibe 'R'
print(v[-3])    # Exibe 'Python'
print(v[-4])    # Exibe 'Fortran'

## print(v[-5])) # gera um erro pois essa posição não existe na lista

Python
R
Python
Fortran

In [ ]:
v = ["Fortran", "Python", "R", "Python"]

print(v)     # exibe a lista original

v[1] = "C++" # altera o segundo elemento da lista

print(v)     # exibe a lista alterada

['Fortran', 'Python', 'R', 'Python']
['Fortran', 'C++', 'R', 'Python']

In [ ]:
v1 = ["Cobol", "Fortran", "Python"]
v2 = ["A", "B", "C", "D"]

v1.append("R")               # v1 = ['Cobol', 'Fortran', 'Python', 'R']
v2.clear()                   # v2 = []
v3 = v1.copy()               # v3 = ['Cobol', 'Fortran', 'Python', 'R']

print( v1.count("R") )       # => 1  ('R' aparece 1 vez)
print("------")

v1.extend(["Java", "C"])     # v1 = ['Cobol', 'Fortran', 'Python', 'R', 'Java', 'C']
print(v1.index("Python"))    # => 2 ('Python' está na posição 2)
print("------")

v1.insert(1, "C#")           # v1 = ['Cobol', 'C#', 'Fortran', 'Python', 'R', 'Java', 'C']
print(v1.pop(1))             # v1 = ['Cobol', 'Fortran', 'Python', 'R', 'Java', 'C'] => 'C#'
print("------")

v1.remove("Fortran")         # v1 = ['Cobol', 'Python', 'R', 'Java', 'C']
v1.reverse()                 # v1 = ['C', 'Java', 'R', 'Python', 'Cobol']
v1.sort()                    # v1 = ['C', 'Cobol', 'Java', 'Python', 'R']

print("v1 = ", v1)           # Exibe v1 = ['C', 'Cobol', 'Java', 'Python', 'R']
print("v2 = ", v2)           # Exibe v2 = []
print("v3 = ", v3)           # Exibe v3 = ['Cobol', 'Fortran', 'Python', 'R']

1
------
2
------
C#
------
v1 =  ['C', 'Cobol', 'Java', 'Python', 'R']
v2 =  []
v3 =  ['Cobol', 'Fortran', 'Python', 'R']

**Pilhas utilizando `list`**

Os métodos de lista tornam fácil usar uma lista como uma **pilha**, onde o último elemento adicionado é o primeiro elemento recuperado (“último a entrar, primeiro a sair”). Para adicionar um item ao topo da pilha, use `append()`. Para recuperar um item do topo da pilha, use `pop()` sem um índice explícito. Por exemplo:

In [ ]:
pilha = []            ## inicializa uma lista vazia
pilha.append(3)       ## atualiza para [3]
pilha.append(4)       ## atualiza para [3, 4]
pilha.append(5)       ## atualiza para [3, 4, 5]
pilha.append(6)       ## atualiza para [3, 4, 5, 6]
pilha.append(7)       ## atualiza para [3, 4, 5, 6, 7]
print( pilha )        ## printa [3, 4, 5, 6, 7]

pilha.pop()           ## remove o 7
pilha.pop()           ## remove o 6
print( pilha )        ## printa [3, 4, 5]

pilha.pop()           ## remove o 5
pilha.pop()           ## remove o 4
pilha.pop()           ## remove o 3
print( pilha )        ## printa []

[3, 4, 5, 6, 7]
[3, 4, 5]
[]

### Exercício 1: Modificando uma lista

Dada a lista `frutas = ["maçã", "banana", "laranja", "uva"]`, faça o seguinte:

* Substitua a fruta "banana" por "abacaxi".
* Adicione a fruta "morango" ao final da lista.
* Exiba a lista resultante.
* Coloque a lista em ordem alfabética.
* Substitua a fruta "maçã" por "pera".
* Exiba a lista e verifique se ainda esta ordenada. Caso não esteja, então ordene e exiba novamente.

In [ ]:
frutas = ["maçã", "banana", "laranja", "uva"]

frutas[1] = "abacaxi"
frutas.append("morango")
print(frutas)

frutas.sort()
frutas[2] = "pera"
print(frutas)

frutas.sort()
print(frutas)

['maçã', 'abacaxi', 'laranja', 'uva', 'morango']
['abacaxi', 'laranja', 'pera', 'morango', 'uva']
['abacaxi', 'laranja', 'morango', 'pera', 'uva']

## Tuplas

**Tuplas** (`tuple`) são similares às listas, mas com a diferença de serem imutáveis, ou seja, seus valores não podem ser alterados após a criação. Temos então as seguintes propriedades para a classe `tuble`:

* **ordenadas**: os elementos mantém a ordem de inclusão.

* **elementos não podem ser alterados**: o valor dos elementos não podem ter seus valores alterados.

* **permite duplicação dos elementos**: os elementos podem ter valores repetidos.

Os métodos definidos na classe **tupla** são:

* `count()`: Retorna o número de elementos com o valor especificado.
* `index()`: Retorna o índice do primeiro elemento com o valor especificado.

As **tuplas** são criadas usando apenas virgulas ou `()` ou `tuple()`:

In [ ]:
v0 = "Fortran", "Python", "R", "Python"
v1 = ("Fortran", "Python", "R", "Python")
v2 = tuple(("Fortran", "Python", "R", "Python"))

print(v0)    # Exibe a tupla v0.
print(v1)    # Exibe a tupla v1.
print(v2)    # Exibe a tupla v2.

print(type(v0))    # Exibe "<class 'tuple'> indicando que é tupla.
print(type(v1))    # Exibe "<class 'tuple'> indicando que é tupla.
print(type(v2))    # Exibe "<class 'tuple'> indicando que é tupla.

('Fortran', 'Python', 'R', 'Python')
('Fortran', 'Python', 'R', 'Python')
('Fortran', 'Python', 'R', 'Python')
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

Os elementos de uma **tupla** podem ser *desempacotados* em um conjunto de variáveis:

In [ ]:
frutas = ("maçã", "banana", "cereja")
(verde, amarelo, vermelho) = frutas

print(verde)       # Exibe 'maçã'
print(amarelo)     # Exibe 'banana'
print(vermelho)    # Exibe 'cereja'

maçã
banana
cereja

Se existem múltiplos elementos, os elementos finais da **tupla** podem ser atribuídos à uma lista:

In [ ]:
frutas = ("maçã", "banana", "cereja", "morango", "framboesa")
(verde, amarelo, *vermelho) = frutas

print(verde)
print(amarelo)
print(vermelho)

maçã
banana
['cereja', 'morango', 'framboesa']

In [ ]:
v = ("Cobol", "Fortran", "Python", "Python", "Python")

print(v[0])    # Exibe 'Cobol'
print(v[1])    # Exibe 'Fortran
print(v[-1])   # Exibe 'Python'
print(v[1:4])  # Exibe ('Fortran', 'Python', 'Python')

print(v.count("Python"))    # Exibe 3 ('Python' ocorre 3 vezes)
print(v.index("Python"))    # Exibe 2 (a primeira ocorrência de 'Python' está na posição 2)

Cobol
Fortran
Python
('Fortran', 'Python', 'Python')
3
2

### Exercício 2: Trabalhando com tupla

Dada a tupla `dados = ("Maria", 28, "Engenheira", "São Paulo")`:
- Exiba o índice onde está o valor "Engenheira" na tupla.
- Faça o desempacotamento da tupla nas variáveis: nome, idade, profissao e cidade.
- Utilize f-string para formar e apresentar a seguinte frase: "Maria tem 28 anos, é Engenheira e mora em São Paulo."

In [ ]:
dados = ("Maria", 28, "Engenheira", "São Paulo")

print(dados.index("Engenheira"))
(nome, idade, profissao, cidade) = dados
print(f"{nome} tem {idade} anos, é {profissao} e mora em {cidade}.")

2
Maria tem 28 anos, é Engenheira e mora em São Paulo.

## Conjuntos

Os **conjuntos** (`set`) são coleções desordenadas de itens únicos, o que significa que eles não mantêm uma ordem específica e não permitem elementos duplicados. Temos então as seguintes propriedades para a classe `set`:

* **não ordenadas**: os elementos mantém uma ordem aleatória.

* **elementos não podem ser alterados**: o valor dos elementos não podem ter seus valores alterados, embora possam ser incluídos ou excluídos do conjunto.

* **não permite duplicação dos elementos**: os elementos não podem ter valores repetidos; são incluídos uma única vez.

Os principais métodos definidos na classe `set` são:

* `add()`: adiciona um elemento ao conjunto.
* `clear()`: remove todos os elementos do conjunto.
* `copy()`: retorna uma cópia do conjunto.
* `difference()`: retorna um conjunto contendo a diferença entre dois ou mais conjuntos.
* `discard()`: Remove um item especificado.
* `intersection()`: retorna um conjunto com aintersecção entre dois conjuntos.
* `isdisjoint()`: verifica se os conjuntos são disjuntos.
* `issubset()`: verifica se o conjunto está contido em outro conjunto.
* `issuperset()`: verifica se o conjunto contém outro conjunto.
* `remove()`: remove o elemento especificado.
* `union()`: Retorna um conjunto com a união entre conjuntos.
* `update()`: Atualiza o conjunto acrescentando outros conjuntos.

Os **conjuntos** são criados usando `{}` ou `set()`:

In [ ]:
v1 = {"Fortran", "Python", "R", "Python"}
v2 = set(("Fortran", "Python", "R", "Python"))

print(v1)    # Exibe o conjunto v1.
print(v2)    # Exibe o conjunto v2.

print(type(v1))    # Exibe "<class 'set'> indicando que é conjunto.
print(type(v2))    # Exibe "<class 'set'> indicando que é conjunto.

{'Python', 'Fortran', 'R'}
{'Python', 'Fortran', 'R'}
<class 'set'>
<class 'set'>

Elementos repetidos em um conjunto são ignorados:

In [ ]:
v = {1, 2, 3, 3, 4, 5}
print(v)

{1, 2, 3, 4, 5}

In [ ]:
s1 = {"A", "B", "C", "D", "E"}
s2 = {"A", "B", "C"}
s3 = {"X", "Y", "Z"}

s3.add("W")                           # s3 = {'X', 'W', 'Y', 'Z'}
print("s3: ", s3)                     # exibe: s3:  {'W', 'X', 'Y', 'Z'}
s3.clear()                            # s3 = {}
print("s3: ", s3)                     # exibe: s3:  set()

s3 = s2.copy()                        # s3 = {'A', 'B', 'C'}
print("s3: ", s3)                     # exibe: s3:  {'A', 'B', 'C'}

s3 = s1.difference(s2)                # s3 = {'D', 'E'}
print("s3: ", s3)                     # exibe: s3:  {'D', 'E'}

s3.discard("D")                       # s3 = {'E'}
print("s3: ", s3)                     # exibe: s3:  {'E'}

print("s2 inter s1 :", s2.intersection(s1))  # exibe:  {"A", "B", "C"}

s3:  {'X', 'Y', 'Z', 'W'}
s3:  set()
s3:  {'A', 'C', 'B'}
s3:  {'E', 'D'}
s3:  {'E'}
s2 inter s1 : {'A', 'C', 'B'}

In [ ]:
s1 = {"A", "B", "C", "D", "E"}
s2 = {"A", "B", "C"}

print(s1.isdisjoint(s2))              # s1 disjunto s2? => False

print(s1.issubset(s2))                # s1 contido s2? => False

print(s2.issubset(s1))                # s2 contido s1? => True

print(s1.issuperset(s2))              # s2 contido s1? => True

s1.remove("C")                        # s1 = {"A", "B", "D", "E"}
print("s1: ", s1)                     # exibe: s1:  {'A', 'B', 'D', 'E'}

s1.update(s2)                         # s1 = {'A', 'B', 'C', 'D', 'E'}
print("s1 uniao s2:", s1.union(s2))   # exibe: s1 uniao s2: {'A', 'B', 'C', 'D', 'E'}

print("s1 = ", s1)    # Exibe o conjunto s1.
print("s2 = ", s2)    # Exibe o conjunto s2.

False
False
True
True
s1:  {'A', 'D', 'B', 'E'}
s1 uniao s2: {'A', 'C', 'D', 'B', 'E'}
s1 =  {'A', 'C', 'D', 'B', 'E'}
s2 =  {'A', 'C', 'B'}

### Exercício 3: Operações com `set`.

Crie um set chamado `frutas` contendo as frutas `"maçã", "banana", "laranja"` e `"uva"` e então:
* exiba o conteúdo;
* adicione a fruta "abacaxi" e exiba o resultado;
* remova o elemento "banana" e exiba o resultado;
* faça a união do set `frutas` com o set `vermelhas = {"morango", "cereja", "amora"}`, guarde em `frutas` e exiba o resultado;
* exiba a interseção do conjunto `frutas` com o conjunto `frutas2 = {"banana", "pera", "morango"}`.

In [ ]:
frutas = set(("maçã", "banana", "laranja", "uva"))
print(frutas)

frutas.add("abacaxi")
print(frutas)

frutas.remove("banana")
print(frutas)

vermelhas = {"morango", "cereja", "amora"}
frutas.update(vermelhas)
print(frutas)

frutas2 = {"banana", "pera", "morango"}
print(frutas.intersection(frutas2))

{'banana', 'maçã', 'laranja', 'uva'}
{'banana', 'maçã', 'abacaxi', 'uva', 'laranja'}
{'maçã', 'abacaxi', 'uva', 'laranja'}
{'cereja', 'amora', 'morango', 'maçã', 'abacaxi', 'uva', 'laranja'}
{'morango'}

## Dicionário

Os **dicionários** (*dict*) são coleções de (*chave*, *valor*) que são ordenadas e mutáveis. Não permite duplicações de suas chaves. Temos então as seguintes propriedades para a classe `dict`:

* **ordenadas**: os elementos mantém a ordem de inclusão (*a partir da versão 3.7 do Python*).

* **elementos podem ser alterados**: o valor dos elementos podem ter seus valores alterados.

* **não permite duplicação das chaves**: as chaves não podem ser repetidas.

Os métodos definidos na classe `dict` são:

* `clear()`: Remove todos os elementos do dicionário.
* `copy()`: Retorna uma cópia do dicionário.
* `get()`: Retorna o valor de uma chave específica.
* `items()`: Retorna uma lista contendo uma tupla para cada par `(chave, valor)`.
* `keys()`: Retorna uma lista contendo as chaves do dicionário.
* `pop()`: Remove o elemento na chave especificada.
* `popitem()`: Remove o último elemento inserido.
* `setdefault()`: Retorna o valor da chave especificada. Se a chave não existir, então insere a chave com o valor especificado.
* `update()`: Atualiza o dicionário com os pares `(chave, valor)` especificados.
* `values()`: Retorna uma lista de todos os valores no dicionário

Os **dicionários** são criados usando `{}` informando pares do tipo `chave: valor`; também podem ser criados com `dict()`:

In [ ]:
v1 = {"name" : "R", "version" : 2.7, "name" : "Python"}
v2 = dict(name = "Python", version = 2.7)
# v2 = dict(name = "R", version = 2.7, name = "Python")  ## ERRO: chave duplicada !!

print(v1)    # Exibe o dicionário v1.
print(v2)    # Exibe o dicionário v2.

print(type(v1))    # Exibe "<class 'dict'> indicando que é dicionário.
print(type(v2))    # Exibe "<class 'dict'> indicando que é dicionário.

{'name': 'Python', 'version': 2.7}
{'name': 'Python', 'version': 2.7}
<class 'dict'>
<class 'dict'>

O comando `dict.fromkeys()` permite criar dicionários com valores iguais para todas as chaves.

In [ ]:
# Criar dicionário com chaves e valor padrão None
chaves = ["nome", "idade", "cidade"]
dicionario1 = dict.fromkeys(chaves)
print(dicionario1)
# Saída: {'nome': None, 'idade': None, 'cidade': None}

# Criar dicionário com valor padrão personalizado
dicionario2 = dict.fromkeys(chaves, "desconhecido")
print(dicionario2)
# Saída: {'nome': 'desconhecido', 'idade': 'desconhecido', 'cidade': 'desconhecido'}

{'nome': None, 'idade': None, 'cidade': None}
{'nome': 'desconhecido', 'idade': 'desconhecido', 'cidade': 'desconhecido'}

Os valores em um dicionário são acessíveis através da chave:

In [ ]:
carro_1 = dict(marca = "Ford", modelo = "Mustang", ano = 1967)
carro_2 = dict(marca = "Toyota", modelo = "Corolla", ano = 2022)

print(carro_1["marca"])   # Exibe 'Ford'
print(carro_2["modelo"])  # Exibe 'Corolla'

Ford
Corolla

In [ ]:
carro = dict(marca = "Ford", modelo = "Mustang", ano = 1967)

print(carro.get("modelo"))                   # => 'Mustang'
print(carro.items())                            # => dict_items([('marca', 'Ford'), ('modelo', 'Mustang'), ('ano', 1967)])
print(carro.keys())                             # => dict_keys(['marca', 'modelo', 'ano'])

carro.pop("modelo")
print(carro)                                # {'marca': 'Ford', 'ano': 1967}

Mustang
dict_items([('marca', 'Ford'), ('modelo', 'Mustang'), ('ano', 1967)])
dict_keys(['marca', 'modelo', 'ano'])
{'marca': 'Ford', 'ano': 1967}

In [ ]:
carro = dict(marca = "Ford", modelo = "Mustang", ano = 1967)

carro.popitem()
print(carro)                              # {'marca': 'Ford', 'modelo': 'Mustang'}

carro.setdefault("ano", 2020)
carro.setdefault("marca", "Fiat")
print(carro)                              # {'marca': 'Ford', 'modelo': 'Mustang', 'ano': 2020}

carro.update({"modelo": "Bronco"})
carro.update({"tipo": "SUV"})
print(carro)                              # {'marca': 'Ford', 'modelo': 'Bronco', 'ano': 2020, 'tipo': 'SUV'}

print(carro.values())                     # ict_values(['Ford', 'Bronco', 2020, 'SUV'])

{'marca': 'Ford', 'modelo': 'Mustang'}
{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 2020}
{'marca': 'Ford', 'modelo': 'Bronco', 'ano': 2020, 'tipo': 'SUV'}
dict_values(['Ford', 'Bronco', 2020, 'SUV'])

### Comando zip()

O `zip()` é uma função embutida em Python que permite agrupar elementos de duas ou mais coleções (como listas, tuplas) e formar listas, tuplas ou dicionários.

Ele é útil quando você quer associar dados paralelamente, como unir uma lista de chaves com uma lista de valores para criar um dicionário, por exemplo.

In [ ]:
nomes = ["Ana", "Bruno", "Carlos"]
idades = [25, 30, 22]

lista = list(zip(nomes, idades))  ## lista de tuplas
print( "lista:", lista)

tupla = tuple(zip(nomes, idades))  ## tupla de tuplas
print( "tupla:", tupla)

dicionario = dict(zip(nomes, idades))
print( dicionario )  ## dicionário

lista: [('Ana', 25), ('Bruno', 30), ('Carlos', 22)]
tupla: (('Ana', 25), ('Bruno', 30), ('Carlos', 22))
{'Ana': 25, 'Bruno': 30, 'Carlos': 22}

### Exercício 4: Operações com dict

Crie um dicionário chamado `aluno` com as chaves `"nome", "idade"` e `"nota"`, e os respectivos valores `"Ana"`, `20` e `8.5`. Então:

* exiba o dicionário completo;
* exiba apenas a nota;
* adicione uma nova chave `curso` com o valor `matematica` e exiba o dicionário autalizado;
* altera a `idade` para `21` e exiba o dicionário atualizado;
* remova a chave `nota` e exiba o dicionário atualizado;
* inclua a chave `notas` com os valores `[8.5, 9.0]`  e exiba o dicionário autalizado.

In [ ]:
aluno = dict(nome = "Ana", idade = 20, nota = 8.5)
print(aluno)

print(aluno["nota"])

aluno["curso"] = "matematica"
print(aluno)

aluno["idade"] = 21
print(aluno)

aluno.pop("nota")
print(aluno)

aluno["notas"] = [8.5, 9.0]
print(aluno)

{'nome': 'Ana', 'idade': 20, 'nota': 8.5}
8.5
{'nome': 'Ana', 'idade': 20, 'nota': 8.5, 'curso': 'matematica'}
{'nome': 'Ana', 'idade': 21, 'nota': 8.5, 'curso': 'matematica'}
{'nome': 'Ana', 'idade': 21, 'curso': 'matematica'}
{'nome': 'Ana', 'idade': 21, 'curso': 'matematica', 'notas': [8.5, 9.0]}

## Range

Range é uma estrutura de sequência utilizada principalmente para a construção de índices ou loopings. Essas sequências são criadas utilizando a seguinte função:

`range(start, stop, step)`.

Veja o exemplo:

In [ ]:
x = range(6)          # Sequência 0, 1, 2, 3, 4, 5.
y = range(2, 6)       # Sequência 2, 3, 4, 5.
z = range(2, 20, 3)   # Sequência 2, 5, 8, 11, 14, 17.

print(x)              # Exibe:  range(0, 6)
for i in x:
  print(i)

print(y)              # Exibe: range(2, 6)
for i in y:
  print(i)

print(z)              # Exibe: range(2, 20, 3)
for i in z:
  print(i)

print(type(x))    # Exibe "<class 'range'> indicando que é sequência.
print(type(y))    # Exibe "<class 'range'> indicando que é sequência.
print(type(z))    # Exibe "<class 'range'> indicando que é sequência.

range(0, 6)
0
1
2
3
4
5
range(2, 6)
2
3
4
5
range(2, 20, 3)
2
5
8
11
14
17
<class 'range'>
<class 'range'>
<class 'range'>

### Exercício 5: utilizando range

1. exiba o resultado do `range(0, 30, 2)`;
2. exiba todos os números pares entre 50 e 70;
3. exiba todos os números ímpares entre 50 e 70;
4. exiba todos os números que são multiplos de 5 entre 17 e 69.

In [ ]:
x = range(0, 30, 2)

print(x)
for i in x:
  print(i)

range(0, 30, 2)
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [ ]:
x = range(50, 70)

print(x)
for i in x:
  if i % 2 == 0:
    print(i)

range(50, 70)
50
52
54
56
58
60
62
64
66
68

In [ ]:
x = range(50, 70)

print(x)
for i in x:
  if i % 2 != 0:
    print(i)

range(50, 70)
51
53
55
57
59
61
63
65
67
69

In [ ]:
x = range(17, 69)

print(x)
for i in x:
  if i % 5 == 0:
    print(i)

range(17, 69)
20
25
30
35
40
45
50
55
60
65